{% extends "network/layout.html" %}

{% block body %}
{{all_following}}
<div id="all-posts" class="flexbox-container-column">
    {% if user.is_authenticated %}
        <form id="post-form">
            <input required type="hidden" id="user-id" data-id="{{ request.user.id }}"> <!-- Assuming you are using Django's built-in authentication -->
            <textarea class="textarea-style" placeholder="What's new?" id="post-text"></textarea>
            
            <div>
                <button type="submit" class="mrg-top-10 btn-submit">Submit</button>
            </div>
        </form>

        <div class="divider"></div>
    {% endif %}

    <div id="posts-container">
        {% for post in posts %}
            <div class="post">
                {% comment %} Edit {% endcomment %}
                    {% if request.user == post.user %}<div class="abs edit"><a data-id="{{post.id}}" id="edit-post">Edit</a></div>{% endif %}

                <div id="text_{{post.id}}">{{ post.text }}</div>
                {% comment %} Username + following {% endcomment %}
                    <div class="user-post abs"><a href="{% url 'profile' username=post.user.username %}">{{ post.user }}</a> {% if post.user.id in followed %}<span class="gradient-following">following</span>{% endif %}</div>
                <div class="like-btn abs {% if post.id in liked %}liked{% else %}unliked{% endif %} " data-id="{{post.id}}">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M16 4a5.95 5.95 0 0 0-3.89 1.7l-.12.11-.12-.11A5.96 5.96 0 0 0 7.73 4 5.73 5.73 0 0 0 2 9.72c0 3.08 1.13 4.55 6.18 8.54l2.69 2.1c.66.52 1.6.52 2.26 0l2.36-1.84.94-.74c4.53-3.64 5.57-5.1 5.57-8.06A5.73 5.73 0 0 0 16.27 4zm.27 1.8a3.93 3.93 0 0 1 3.93 3.92v.3c-.08 2.15-1.07 3.33-5.51 6.84l-2.67 2.08a.04.04 0 0 1-.04 0L9.6 17.1l-.87-.7C4.6 13.1 3.8 11.98 3.8 9.73A3.93 3.93 0 0 1 7.73 5.8c1.34 0 2.51.62 3.57 1.92a.9.9 0 0 0 1.4-.01c1.04-1.3 2.2-1.91 3.57-1.91z" fill="currentColor" fill-rule="nonzero"></path></g>
                    </svg>
                    <div class="like-count">{{ post.likes }}</div>
                </div>
                <div class="abs date-post">{{post.date|date:'b. d, Y, h:i A'|capfirst}}</div>
            </div>
        {% endfor %}
    </div>

    <div class="profile-plate">
        {% if posts.has_previous %}
        <a class="nextPrev" href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}

        {% if posts.has_next %}
        <a class="nextPrev" href="?page={{posts.next_page_number}}">Next</a>
        {% endif %}
    </div>
</div>
<script>
    document.querySelector('#post-form').addEventListener('submit', (event) => {
        post(event)
    });

    document.querySelectorAll('#edit-post').forEach(editBtn => {
        editBtn.addEventListener('click', (event) => {
            edit(event)
        })
    })
</script>
{% endblock %}