$default-font-color: rgba(255, 255, 255, 0.85);
$faint-font-color: rgba(255, 255, 255, 0.5);
$default-border-radius: 10px;
$border-radius-btn: 8px;
$btn-default-back: #666669;
$btn-hovered: #555559;
$unliked: #444446;
$liked: linear-gradient(-225deg, rgba(163, 69, 178, 0.9) 0%, rgba(211, 23, 114, 0.9) 52%, rgba(226, 27, 107, 0.9) 100%);
$liked-hover: linear-gradient(-225deg, rgba(163, 69, 178, 1) 0%, rgba(211, 23, 114, 1) 52%, rgba(226, 27, 107, 1) 100%);
$body-back: #222225;

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body { 
    background-color: $body-back;
    color: $default-font-color;
}


.nav-container {
    max-width: 100ch;
    margin: auto;
}


.main-container {
    margin: auto;
    max-width: 100ch;
    padding-bottom: 100px;
}


.flexbox-container-column {
    display: flex;
    flex-direction: column;
}


.flex-item-inline {
    display: inline-block;
}


.flexbox-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    background-color: $body-back;
    color: $default-font-color;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border: 1px solid $btn-default-back;
    border-radius: $default-border-radius;
    margin-top: 8px;
}


.profile-plate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}


#follow-plate {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}


.mrg-top-10 {
    margin-top: 10px;
}


.mrg-bottom-10 {
    margin-bottom: 10px;
}

.nextPrev {
    text-align: center;
    font-weight: bold;
    border: 1px solid #555666;
    padding: 7px 15px;
    width: 100px;
    border-radius: $border-radius-btn;

    &:active {
        outline: none;
        transform: translateY(1px);
    }
}

.btn-submit, .btn-follow  {
    font-size: smaller;
    color: $default-font-color;
    border: 1px solid #555666;
    outline: none;
    border-radius: $border-radius-btn;
    background-color: $body-back;
    padding: 7px 15px;
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: #333;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
        transform: translateY(1px);
    }
}


.btn-follow {
    width: 100px;
    font-size: medium;
}


.divider {
    border-top: 1px solid #a4a6ab;
    margin: 50px 16px;
}

.gradient-following {
    font-size: smaller;
    background: radial-gradient(circle at 10% 20%, rgb(50, 172, 109) 0%, rgb(130, 193, 48) 100.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
}

.gradient-green {
    background: radial-gradient(circle at 10% 20%, rgb(50, 172, 109) 0%, rgb(130, 193, 48) 100.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
}

.textarea-style {
    resize: none;
    background-color: #444446;
    border: none;
    outline: none;
    border-radius: $default-border-radius;
    padding: 10px 20px;
    color: $default-font-color;
    width: 100%;
    height: 100px;

}


.post {
    position: relative;
    background-color: rgba(52, 52, 52, 0.78);
    margin: 30px 0px;
    padding: 60px 20px;
    border-radius: $default-border-radius;
}


.abs {
    position: absolute;
}

.edit {
    top: 10px;
    right: 15px;
}


.user-post {
    font-weight: bold;
    top: 10px;
    left: 15px;
}



.date-post {
    font-size: small;
    bottom: 10px;
    right: 15px;
    color: $faint-font-color;
}


.like-count {
    margin-left: 5px;
}

.gradient-fill {
    background-image: radial-gradient(circle at 10% 20%, rgb(254, 113, 210) 0%, rgb(184, 96, 255) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
}


a {
    color: #999;
    text-decoration: none;

    &:hover {
        background-image: radial-gradient(circle at 10% 20%, rgb(254, 113, 210) 0%, rgb(184, 96, 255) 90%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        cursor: pointer;
    }
}


.unliked {
    display: flex;
    align-items: center;
    font-weight: bold;
    bottom: 10px;
    left: 15px;
    background-color: $unliked;
    padding: 5px 10px;
    border-radius: 32px;

    &:active {
        transform: translateY(1px);
    }

    &:hover {
        color: lightcoral;
        cursor: pointer;
    }
}


.liked {
    display: flex;
    align-items: center;
    font-weight: bold;
    bottom: 10px;
    left: 15px;
    background: $liked;
    color: $default-font-color;
    padding: 5px 10px;
    border-radius: 32px;

    &:active {
        transform: translateY(1px);
    }


    &:hover {
        color: white;
        background: $liked-hover;
        cursor: pointer;
    }
}


.nav {
    display: flex;
    align-items: center;
    padding: 20px 5px;
    font-size: larger;
    gap: 1rem;

    a:last-of-type{
        margin-left: auto;
    }
}